@import '../../styles/variables.module.scss' ;

.appbarBox {
  align-items: flex-end;
  background-color: $primary !important;

  .appMenu {
    color: $white;
  }

  .activeMenu {
    background-color: #2d8ab570;
  }
}
