@import '/styles/variables.module.scss';

.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin-top: 15rem ;
  .paper {
    width: 40rem;
    height: 20rem;
    flex-direction: column;
    justify-content: flex-start;

    .heading {
      margin-top: 4rem;
    }

    .button {
      width: 20rem;
      margin-top: 2rem;
      background-color: $white;
      color: $black;
      justify-content: space-around;
    }
  }
}

