@import '/styles/variables.module.scss' ;

.signinContainer {
  overflow: hidden;
  position: relative;

  .wrapper {
    display: flex;
    transform: rotate(11deg) translate(-20%, -10%);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 150%;
    background-color: #002140;
  }

  .content {
    position: relative;
    display: flex;
    height: calc(100vh - 64px);
    align-items: center;
    z-index: 2;

    .cardWrapper {
      display: flex;
      width: 28rem;
      height: 25rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 15%;
      background-color: white;
      border-radius: 5px;

      .cardContent {
        width: 100%;
        border-radius: 4px;
        padding: 16px;
        margin: 16px;

        .buttonContainer {
          margin: 10px;
          display: flex;
          justify-content: center;

          .socialButtons {
            width: 20rem !important;
            display: flex;
            justify-content: flex-start;
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 2px 3px 0 rgb(0 0 0 / 19%);

            .providerName {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }

  .styledPattern {
    position: absolute;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
  }
}
